* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

header {
    background-color: darkgrey;
    height: 5em;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

.fondo {
    height: 55vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.separacion1 {
    height: 1em;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

#pantalla {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}

.containerTV {
    /* height: 25em;
    width: 40em; */
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.formaTV {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: black;
}

.screen {
    background-color: black;
    padding: 0 1em;
}

.supFrame, .infFrame {
    background-color: black;
    margin: 0;
    padding: 0;
}

.supFrame {
    height: 1em;
}

.infFrame {
    height: 2em;
}

.leftFrame, .rightFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: black;
    padding: 3px;
    height: 100%;
    width: 7%
}

/* .rightFrame img, .leftFrame img {
    height: 80%;
    width: 80%;
} */

.ladoIzq {
    width: 100%;
}

.altavoz {
    background-color: darkgrey;
}

.screen {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* height: 20em;
    width: ; */
}

.canal {
    position: relative;
    content: fill;
}

.oculto {
    display: none;
}    

.visible {
    display: block;
}

.marca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    color: white;
}

.anchoLed {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ledTV {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.ledLight {
    border-radius: 0.5em;
    height: 0.8em;
    width: 0.8em;
    color: white;
}

.ledOn {
    background-color: chartreuse;
}

.ledOff {
    background-color: rgb(149, 22, 22);
}

.mando {
    background-color: dimgrey;
    margin: 0;
    padding: 0;
    gap: 2em;
    aspect-ratio: 0.25;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chanBtn {
    background-color: darkgray;
    height: 3em;
    width: 3em;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
}

#btnOnOff img, #btnMute img {
    height: 1.5em;
    width: 1.5em;
}

footer {
    background-color: darkgrey;
    height: 5em;
}

.marpad0 {
    margin: 0;
    padding: 0;
}