* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 5em;
    width: 99vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: rgb(247, 22, 22);
}

.fondo {
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
}

.separacion1 {
    height: 1em;
    width: 99vw;
}
.separacion5 {
    height: 5em;
    width: 99vw;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

#pantalla {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerTV {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.formaTV {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: black;
}

.screen {
    background-color: black;
    padding: 0 1em;
}

.loader {
    padding: 0 1.05em;
}

.supFrame, .infFrame {
    background-color: black;
    margin: 0;
    padding: 0;

    position: relative;
}

.supFrame {
    height: 1em;
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 4%, rgba(219,219,219,1) 11%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 43%);
}

.infFrame {
    height: 2em;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 1%, rgba(0,0,0,1) 18%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(71,71,71,1) 61%, rgba(43,43,43,1) 76%, rgba(102,102,102,1) 86%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
}

#info {
    height: 3em;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top: 1em;
    right: 1em;

    font-size: 2em;
    font-weight: bold;
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

#volume {
    height: 3em;
    width: 20em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    border: 0.2em solid green;
    position: absolute;
    bottom: 2.5em;
    right: 2em;

}

#volActual {
    height: 100%;

    background-color: green;
}

.vol1 {
    width: 10%;
}

.vol2 {
    width: 20%;
}

.vol3 {
    width: 30%;
}

.vol4 {
    width: 40%;
}

.vol5 {
    width: 50%;
}

.vol6 {
    width: 60%;
}

.vol7 {
    width: 70%;
}

.vol8 {
    width: 80%;
}

.vol9 {
    width: 90%;
}

.vol10 {
    width: 100%;
}

.ladoIzq {
    width: 100%;
}

.screen {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.canal {
    position: relative;
    content: fill;
}

.oculto {
    display: none;
    visibility: hidden;
    z-index: -1;
}    

.visible {
    visibility: visible;
    display: block;
    z-index: 1;
}

.marca {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    color: white;
}

.anchoLed {
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ledTV {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ledLight {
    border-radius: 0.5em;
    height: 0.8em;
    width: 0.8em;
    color: white;
}

.ledOn {
    background-color: chartreuse;
}

.ledOff {
    background-color: rgb(149, 22, 22);
}

.anchoMando {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    position: relative;
}

.mando {
    margin: 0;
    padding: 0;
    gap: 0.2em;
    width: 13em;
    height: 43em;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(52, 52, 52);
    box-shadow: inset -6px -4px 28px 4px rgb(27, 27, 27);
    border-radius: 1em;
}

.mandoSup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em 0 0 0;
}

.mandoMed {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 1em;
    padding: 2em 0;
}

.sectionSep {
    height: 0.3em;
}

.middleSep {
    height: 0.1em;
}

.middleBut {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    font-weight: bold;
}

.mandoInf {

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.chanBtn {
    background-color: darkgray;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: inset -8px -6px 25px 4px rgba(112,111,112,1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
}

.chanBtn:hover {
    scale: 0.9;
    box-shadow: 0px 0px 26px 1px rgb(104, 104, 104);
}

#btnOnOff {
    background-image: url(../img/botonOnOff2.png);
    background-size: cover;
}

#btnMute {
    background-image: url(../img/botonmute2.png);
    background-size: cover;
}

#btnInfo {
    background-image: url(../img/info.png);
    background-size: cover;
}

#btnMenu {
    background-image: url(../img/menu.png);
    background-size: cover;
}

footer {
    background-color: darkgrey;
    height: 3em;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.marpad0 {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

@media (width < 768px) {
    .hidden {
        display: block;
    }

    .mando {
        margin: 0;
        padding: 0;
        gap: 0.2em;
        width: 7em;
        height: 22em;
    }

    .chanBtn {
        height: 1.5em;
        width: 1.5em;

        box-shadow: 0px 0px 0px 0px rgba(112,111,112,1);
    }

    .chanBtn:hover {
        scale: 0.9;
        box-shadow: 0px 0px 0px 0px rgb(104, 104, 104);
    }

    .sectionSep {
        height: 0.1em;
    }
    
    .middleSep {
        height: 0em;
    }

    .mandoSup {
        gap: 0.5em;
        padding: 0;
    }
    
    .mandoMed {
        gap: 0.5em;
        padding: 0.5em 0;
    }

    .mandoInf {
        gap: 0.5em;
        padding: 0;
    }
    
    #volume {
        height: 1.5em;
        width: 10em;
    }
}